<div class="container newRecipeDiv"> 

<h1>Add Recipes to </h1> 
<h1>{{theRecipeBook.name}}</h1>


<form action="/recipeBook/{{theRecipeBook._id}}/update" method="POST">

<p> Select a Recipe to Add</p>
  <select name="recipeSelected">
    {{#each recipes}}
   
    <option value="{{this._id}}">{{this.name}} </option>
 
    {{/each}}
  </select>


  {{!-- <label for="">Image Link:</label>
  <input type="text" name="image" value="{{theRecipeBook.image}}"> --}}

  <button type="submit">Save Changes</button>


</form>
</div>