<div class="container welcome">
  <h1> {{theRecipeBook.name}}</h1>
</div>

<div class="container lastNextButton">

  <a href="/recipeBook"><button class="orangeButton btn btn-outline-warning btn-special-hover">Go Back to Recipe Books Page </button></a>

</div>

<div class="container editRecipeDiv">

{{!-- -=-=-=-==--=-=-=-=-=-= --}}
<div class="row recipeGrid">
  {{#each theRecipeBook.recipes}}

  <div class="col-sm-6 col-md-3 eachRecipeBookGrid">
    <img class="imgSize" src="{{this.image}}" alt="">

    <div class="recipeInfo">
      <p>{{this.name}}</p>
    </div>
    <div>
    <a href="/recipeBook/{{../theRecipeBook._id}}/{{@index}}"><button class="eachRecipeAnchor">See Recipe Details</button></a>
    </div>
  </div>
  {{/each}}

{{#if canDelete}}
<div class="container lastNextButton">

<form action="{{theRecipeBook._id}}/delete" method="POST">
  <button class="orangeButton btn btn-outline-warning btn-special-hover" >Delete This Recipe Book</button>
</form>
{{!-- <form action="{{theRecipeBook._id}}/edit" method="GET"> --}}
  <a href="/recipeBook/{{theRecipeBook._id}}/edit"><button class="orangeButton btn btn-outline-warning btn-special-hover" >Edit This Recipe Book</button></a>
  {{!-- </form> --}}
</div>
{{/if}}



