
  <div class="protection">
<div class="container newRecipeDiv">

<h1>Edit {{theRecipe.name}}</h1>


<form action="/Recipes/{{theRecipe._id}}/update" method="POST" enctype="multipart/form-data" >


  <label for="">Name:</label>
  <input type="text" name="name" value="{{theRecipe.name}}">
<br>

  <div>
    <img class="recipeImage" src="{{theRecipe.image}}" alt="">
  </div>
  <label> New image : </label>
  <input type="file" name="image">
<br>

  <label for="">Time to make:</label>
  <input type="number" name="time" value="{{theRecipe.time}}">

<br>
<br>
<div class="recipeText">
  <div class="textArea">
    <label for="ingredients">Ingredients Name: </label>
    <textarea name="ingredients" id="" cols="10" rows="15" placeholder="Please Insert one ingredient and Hit enter after each ingredient to create a list of ingredients.">{{theRecipe.ingredients.[0]}}</textarea>
  </div>

  <div class="textArea">
    <label id="diferentLabel" for="ingredients">Amount in Grams: </label>
    <textarea name="amountOfEachIngredient" id="" cols="10" rows="15" placeholder="Please Insert one ingredient amount per ingredient and hit enter after it.">{{#each theRecipe.amountOfEachIngredient}}{{this}}
{{/each}}</textarea>
  </div>

  <div class="textArea">
    <label id="directionsLabel" for="directions">Directions :</label>
    <textarea name="directions" id="" cols="80" rows="15">{{theRecipe.directions}}</textarea>
  </div>
</div>
<br>



  <button type="submit">Save Changes</button>


</form>

</div>

</div>
{{!-- <div class="recipeText">
  <div class="textArea">

    <label for="">Ingredient:</label>
    <textarea type="text" name="ingredients" cols="80" rows="15" value="{{theRecipe.ingredients}}">
    {{theRecipe.ingredients.[0]}}</textarea>

  </div>
  <div class="textArea">

    <label for="">Direction:</label>
    <textarea type="text" name="directions" cols="80" rows="15" placeholder="{{theRecipe.directions}}">{{theRecipe.directions}}</textarea>

  </div>
</div> --}}