<div class="protection">
  
<div class="container lastNextButton">
  {{#if canGoBack}}
  <a href="/recipes/{{previous}}"><button class="orangeButton btn btn-outline-warning btn-special-hover">Last Recipe</button></a>
  {{/if}}
  <a href="/recipes"><button class="orangeButton btn btn-outline-warning btn-special-hover">Go Back to Public Recipes</button></a>
  <a href="/myRecipes"><button class="orangeButton btn btn-outline-warning btn-special-hover">Go Back to your Recipes</button></a>
  <a href="/recipeBook"><button class="orangeButton btn btn-outline-warning btn-special-hover">Go Back to your Recipe Books</button></a>
 
  {{#if next}}
  <a href="/recipes/{{next}}"><button class="orangeButton btn btn-outline-warning btn-special-hover">Next Recipe</button></a>
  {{/if}}
</div>

<div class="container editRecipeDiv">
  
<h1>
  {{theRecipe.name}}
</h1>
<div>
<img class="recipeImage" src="{{theRecipe.image}}" alt="">
</div>

<br>

<h2> Creator: {{theRecipe.author.username}}</h2>

<br>

<div class="detailIngredient" >
  <h2>
  <ul class="listStyleNone">

    Amounts: {{#each theRecipe.amountOfEachIngredient}}
    <li>
      {{this}}
    </li>

    {{/each}}

  </ul>
</h2>

  <h2>
    <ul class="listStyleNone">

 Ingredients: {{#each theIngredients}}
<li>
 grams of  {{this}}
</li>

 {{/each}}

    </ul>
  </h2>

<br> 
</div>
<div>
  <h2>
    <ul class="listStyleNone">
  
      Directions: {{#each theDirection}}
      <li>
        {{this}}
      </li>
  
      {{/each}}
    </ul>
  </h2>
</div>
<h4>
 Time to make: {{theRecipe.time}} Minutes</h4>
<h4>
  Calories: {{theRecipe.totalCalories}} Kcal per Batch of this Recipe</h4>


{{#if canDelete}}
  <form action="/recipes/{{theRecipe._id}}/delete" method="POST">
    <button class="orangeButton btn btn-outline-warning btn-special-hover">Delete This Recipe</button>
  </form>
  <br>
  <a href="{{theRecipe._id}}/edit"><button class="orangeButton btn btn-outline-warning btn-special-hover">Edit This Recipe</button></a>
{{/if}}


</div>
</div>